:root{
    --text: #000000;
    --background: #404cd5;
    --background-darker: #0b0578;
    --primary: #7EB1F7;
    --secondary: #ec58c3;
    --accent: #f69f00;
}

body{
    background-color: var(--background);
    height:100%;
}

h1{
    text-align: center;
    color: var(--text);
    font-size: 72px;
}

html{
    height: 100%;
}

#input-box{
    background-color: gray;
    color: var(--text);
    height: 50px; 
    width: 450px;
    border-radius: 100px;
    text-align: center;
    font-size: 36px;
}

#answers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: absolute;
    margin-left: 35%;
}

#quote-holder{
    color: var(--text);
    justify-content: center;
    align-content: center;
    font-size: large;
}

#quote{
    justify-content: center;
    align-content: center;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    font-size: 48px;
    text-align: center;
}

#answer{
    border-radius: 50px;
    width:400px;
    height: 100px;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#score-holder{
    text-align: center;
    margin-top: 5%;
}

#game-message{
    font-size: 60px;
}