h1{
    text-align: center;
    font-size: 48px;
}

body{
    background-image: linear-gradient( rgb(244, 101, 101), rgb(249, 180, 180), rgb(249, 102, 102), red);
}

html{
    height: 100%;
}

#input-output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#input{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

#br{
    height: 200px
}

#rotation-number-holder{
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    width:400px;
    text-align: center;
    font-family: 'Romantic', sans-serif;
    font-size: 24px;
    align-content: center;
    justify-content: center;
}

#rotation-number{
    border-radius: 100px;
    height:50px;
    margin-top: 10%;
    background-color: pink;
    width:100px;
    text-align: center;
    font-family: 'Romantic', sans-serif;
    font-size: 24px;
}

#label-for-rot{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

#centering-part{
    display: flex;
    flex-direction: row;
    margin-top: 60%;
    width: 300px;
    margin-right:10%;
}

#dropdown-menu{
    width: 400px;
}

#results-output{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width:400px;
}

.word-holder{
    background-color: gray;
    height:400px;
    margin-top: 10%;
    width:400px;
    border-radius: 50px;
    border-color: black;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    /*text box word*/
    text-align: center;
    
}

.title-of-box{
    text-align: center;
    font-size: 48px;
    margin-bottom: 0%;
}

.funny-button{
    height:100px;
    width: 200px;
    border-radius: 200px;
    font-size: 24px;
    background-image:linear-gradient(90deg, red, rgb(219, 134, 148), red);
    color:rgb(252, 252, 252);
    font-family: 'Romantic', sans-serif;
    margin-bottom: 30%;
}

#button-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.typing-place{
    height:300px;
    width: 300px;
    font-family: 'Romantic', sans-serif;
    font-size: 24px;
    resize: none;
}

#column-thingy{
    display: flex;
    flex-direction: column;
    margin-right:35%;

}
