h1{
    text-align: center;
    font-size: 48px;
}

body{
    background-image: linear-gradient(red, rgb(244, 101, 101), rgb(249, 180, 180), rgb(249, 102, 102), red);
}

html{
    height: 100%;
}

#input-output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#input{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

#br{
    height: 200px
}

#rotation-number-holder{
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    width:400px;
    text-align: center;
    font-family: 'Romantic', sans-serif;
    font-size: 24px;

    justify-content: center;
}

#label-for-rot{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

#centering-part{
    display: flex;
    flex-direction: row;
    margin-top: 50%;
    width: 300px
}

#dropdown-text{
    margin-right: 2.5%;
    width: 400px;
}

#results{
    margin-left: 10%;
}